.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.cols21 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Raleway:ital,wght@0,400;0,900;1,400;1,900&family=Source+Code+Pro:ital@0;1&display=swap");

.reveal {
  font-family: "EB Garamond", serif;
  font-size: 3em;
}

/* .reveal p {
  font-size: 0.6em;
} */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Raleway";
  font-weight: 900;
  text-shadow: 2px 2px 5px darkslategray;
  color: darkorange;
  text-transform: none;
}

.reveal h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal h3 {
  font-size: 1.2em;
}

.reveal table {
  font-size: 0.6em;
}

.reveal code {
  font-family: "Source Code Pro", monospace;
  /* font-size: 1em; */
  line-height: 1.2em;
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-items: center; */
}
